[*]
charset = utf-8
insert_final_newline = true

[*.cs]
dotnet_diagnostic.CA1001.severity = warning
dotnet_diagnostic.CA1508.severity = warning
dotnet_diagnostic.CA1812.severity = warning
dotnet_diagnostic.CA1823.severity = warning
dotnet_diagnostic.CA1849.severity = warning
dotnet_diagnostic.CA2000.severity = warning
dotnet_diagnostic.CA2016.severity = warning
dotnet_diagnostic.CA2213.severity = warning
dotnet_diagnostic.CA2215.severity = warning
dotnet_diagnostic.RCS1044.severity = suggestion
dotnet_diagnostic.RCS1059.severity = suggestion
dotnet_diagnostic.RCS1075.severity = suggestion
dotnet_diagnostic.RCS1093.severity = warning
dotnet_diagnostic.RCS1102.severity = suggestion
dotnet_diagnostic.RCS1138.severity = suggestion
dotnet_diagnostic.RCS1139.severity = suggestion
dotnet_diagnostic.RCS1155.severity = suggestion
dotnet_diagnostic.RCS1172.severity = suggestion
dotnet_diagnostic.RCS1174.severity = suggestion
dotnet_diagnostic.RCS1193.severity = suggestion
dotnet_diagnostic.RCS1194.severity = suggestion
dotnet_diagnostic.RCS1203.severity = suggestion
dotnet_diagnostic.RCS1229.severity = warning
dotnet_diagnostic.RCS1242.severity = suggestion
dotnet_diagnostic.RCS1261.severity = warning
dotnet_diagnostic.RCS1263.severity = suggestion
dotnet_sort_system_directives_first = true

[*.json]
tab_width = 2
indent_size = 2

[*.{xml,csproj,props,targets,xaml}]
tab_width = 2
indent_size = 2
indent_style = space
