<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop2="http://schemas.microsoft.com/appx/manifest/desktop/windows10/2"
  xmlns:desktop3="http://schemas.microsoft.com/appx/manifest/desktop/windows10/3"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="b9bbc20b-bf80-4c33-baae-691c281a1ea6"
    Publisher="CN=brice"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="b9bbc20b-bf80-4c33-baae-691c281a1ea6" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ComicApp</DisplayName>
    <PublisherDisplayName>brice</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ComicApp"
        Description="ComicApp"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="cba">
            <uap:SupportedFileTypes>
              <uap:FileType>.cbz</uap:FileType>
              <uap:FileType>.cbt</uap:FileType>
            </uap:SupportedFileTypes>
            <desktop2:ThumbnailHandler Clsid="01BEFF85-52E0-410D-ABEE-1F004DA49064" />
            <!-- TODO: Why isn't this working? -->
            <desktop2:DesktopPropertyHandler Clsid="325F6AC5-FA0F-4456-A818-407B0E1CF7AE" />
            <desktop3:PropertyLists>
              <desktop3:PropertyList Property="fullDetails" Value="Prop:System.Author;System.Title;System.Media.Publisher" />
            </desktop3:PropertyLists>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer>
              <com:Class Id="01BEFF85-52E0-410D-ABEE-1F004DA49064" Path="ShellExtensions\ShellExtensions.comhost.dll" ThreadingModel="STA" />
              <com:Class Id="325F6AC5-FA0F-4456-A818-407B0E1CF7AE" Path="ShellExtensions\ShellExtensions.comhost.dll" ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
